<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Small Case | Basket Details</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <nav class="navbar sticky">
        <div class="content">
            <div class="logo"><a th:href="@{/Home}">Small Case</a></div>
            <ul class="menu-list">
                <li><a th:href="@{/Home}">Home</a></li>
                <li><button class="logout-btn">Logout</button></li>
            </ul>
        </div>
    </nav>

    <div class="about">
        <div class="content">
            <div class="wrapper bskt-wrap">
                <div class="outer">
                    <div class="card" th:each="detail:${basketDetails}">
                        <div class="content">
                            <div class="img"><img src="../images/basket.jpg" alt="Basket"></div>
                            <div class="details">
                                <span class="name" th:text="${detail.BasketName}"></span>
                                <p th:text="${detail.Description}"></p>
                            </div>
                        </div>
                        <div class="bskt-detls">
                            <div class="details">
                                <p>Investment Amount</p>
                                <span class="name"><i class="fas fa-euro-sign"></i></span>
                                <span class="name" th:text="${investmentAmount}"></span>
                            </div>
                            <button class="btn detls-btn" th:onclick="@{window.location.href='../addtocart/}+${detail.BasketId}+@{'}">Add To Cart</button>
                        </div>
                    </div>

                    <div class="card detls">
                        <div class="detls-content">
                            <div class="basket-info">
                                <div class="urls-area">
                                    <div class="title header">
                                        <li>Stocks/Instruments</li>
                                        <li>Weightage</li>
                                    </div>
                                    <div class="data" th:each="stock:${stockDetails}">
                                        <li th:text="${stock.StockName}"></li>
                                        <li th:each="mapping:${stock.stocksMapping}" th:text="${mapping.QTY}"></li>
                                    </div>
                                </div>
                            </div>
                            <div class="basket-info">
                                <div id="piechart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script th:inline="javascript" type="text/javascript">
        // Load google charts
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        //Dynamic Data
        var stocksData = [];
        stocksData.push(['Stocks', 'Weightage']);
        /*<![CDATA[*/
        /*[# th:each="stock:${stockDetails}"]*/
        stocksData.push([ /*[[${stock.StockName}]]*/, /*[# th:each="mapping:${stock.stocksMapping}"]*//*[[${mapping.QTY}]]*//*[/]*/]);
        /*[/]*/
        /*]]>*/


        // Draw the chart and set the chart values
        function drawChart() {
            var data = google.visualization.arrayToDataTable(stocksData);

            // Optional; add a title and set the width and height of the chart
            var options = { 'title': 'Stocks Breakout', 'width': 550, 'height': 400 };

            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>
</body>
</html>
