<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Small Case | Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <nav class="navbar sticky">
        <div class="content">
            <div class="logo"><a th:href="@{/Home}">Small Case</a></div>
            <ul class="menu-list">
                <li><a th:href="@{/Home}">Home</a></li>
                <li><button class="logout-btn">Logout</button></li>
            </ul>
        </div>
    </nav>

    <div class="about">
        <div class="content">
            <div class="wrapper">
                <div class="outer">
                    <div class="card" th:each="basket:${basketList}">
                        <div class="content">
                            <div class="img"><img src="images/basket.jpg" alt=""></div>
                            <div class="details">
                                <span class="name" th:text="${basket.BasketName}"></span>
                                <p th:text="${basket.Description}"></p>
                            </div>
                        </div>
                        <button th:onclick="@{location.href='/Basket/basket.BasketId'}" class="btn">View Basket</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
